body {
    font-family: Arial, sans-serif;
    background-color: #a0b9d9;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #7296bb;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-align: right;
    font-size: 1rem;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #333;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    h1 {
        font-size: 2rem;
    }
}